body{
    overflow-x: hidden;
    color: #FFFFFF;
    /* font-family: Arial, Helvetica, Sans-serif; */
    font-family: "Comfortaa", Georgia, "Times New Roman", Times, serif;
    border-color: rgba(252, 217, 96, 1) !important;
    height: 100vh;
}

body::after{
    background: url("../images/background.jpg");
    content: "";
    opacity: 1;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: inherit;
}

.page-header{
    border-bottom: 1px solid #f68b1f;
}

.login-left-menu{
    margin-top: 35px;
}

.login-left-menu div{
    padding: 10px;
}

#accordion{
    font-size: 1.5em;
}

#accordion h4{
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: underline;
}

.custom_panel_heading{
    font-size: 1.5em;
    font-weight: bold;
}

.iit_button{
    color: #fff;
    /* background-color: rgba(246, 139, 31, 0.8);
    border-color: rgba(246,139,31,1); */
}

.iit_button:hover{
    background-color: rgba(252, 217, 96, 1);
}

.activeCustom {
    background: #368CA6;
    opacity: 0.7;
    border-radius: 10px;
}

.active, .nav li a:hover, .active > a, .active > a:hover{
    background-color: #368CA6 !important;
    font-weight: bold;
}

.activeSquare, .panel, .panel-default > .panel-heading{
    background: #368CA6;
}

.odd {
    background-color: #8fc6d6 !important;
}

.pagination>li>a, .pagination>li>span, #side-menu, .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover{
    background-color: #368CA6 !important;
    color: #FFFFFF !important;
    font-weight: bold;
}

.font-white, a{
    color: #FFF !important;
}

#page-wrapper{
    background-color: transparent !important;
}

.pagination>li>a:hover, .pagination>li>span:hover, .nav li a.active, .nav li a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    color: rgba(252, 217, 96, 1) !important;
    background-color: #8fc6d6 !important;
}

hr, .navbar{
    border: 1px solid rgba(252, 217, 96, 1);
}

.sidebar ul li {
    border: none !important;
}

.footer{
    color: rgba(252, 217, 96, 1) !important;
}